#Thumbnails
Thumbs.db

#Visual Studio
*.suo
*.mdf
*.ldf
*.orig
*.idea
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
.tmp
*.bak
*.cache
*.ilk
*.log
*.kml
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
Logs/
[Rr]elease*/
[Tt]est[Rr]esult*
*.Publish.xml
.sass-cache
[Pp]ackages
nsb_log*.txt

#ReSharper
*.[Dd]ot[Ss]ettings
_ReSharper*/

#.nuget
_UpgradeReport_Files/

#Ignore windows folder customization
desktop.ini

#Ignore mac git files
*.DS_Store

