@model Proto2.Areas.Reviewer.Models.DiscussionView
@*See the Reviewer mockup, the last screen on the right with the word reviewer for an idea
    of how this is supposed to look.*@

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<body style="
        background-image: url(/Images/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

</body>
