@model Proto2.Areas.Reviewer.Models.ReviewViewModel

@*This screen should maybe just welcome the reviewer or
    explain what a reviewer does*@

@{
    ViewBag.Title = "Reviewer";
}

<h2>Welcome Reviewer</h2>
<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

</body>
