@{
    ViewBag.Title = "No Reviews";
}

<body style="
        background-image: url(/Images/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

</body>
<h2>@ViewBag.Title</h2>
<div class="content-wrapper">

    <div class="jumbotron">
        <p>There are currently no available assignments to review.</p>
    </div>
</div>
