@model Proto2.Areas.SystemAdmin.Models.VideoView
@*See the Reviewer mockup, the last screen on the right with the word reviewer for an idea
    of how this is supposed to look.*@

@{
    ViewBag.Title = "No Videos";
}

<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

</body>
<h2>@ViewBag.Title</h2>
<div class="content-wrapper">

    <div class="jumbotron">
        <p>There are currently no training videos to view.</p>
    </div>
</div>
