@using Proto.Areas.Student
@model List<Proto.Areas.Teacher.Models.StoryView>
@{
    ViewBag.Title = "Story";
}


<div class="content-wrapper">

    <div>
        <h2>@ViewBag.Title</h2>

        @foreach (var story in Model)
        {
            <h2>Title: @story.Title</h2>
            <div class="col-md-12"> @story.Stories</div>
        }
    </div>

</div>