@model List<Proto.Areas.Reviewer.Models.PastReviewView>

@*This view should look like the bottom screen on the left 
for the reviewer mockups. Look at the Index view for 
teachers for an example*@

@{
    ViewBag.Title = "Past Reviews";
}

<h2>Past Reviews</h2>
<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

</body>
