@model Proto.Areas.Reviewer.Models.ReviewViewModel

@*This view is the second from the top on the right in the mockups.
THe Left side that is visible will be a form that is completed,
see AddStudent in the Teacher view for an example*@

@{
    ViewBag.Title = "Review Story";
}

<h2>Review Story</h2>
<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

</body>
