@model List<Proto.Areas.Reviewer.Models.TrainVideoView>

@*This is the first view on the right in the mockups and can
    display just the links or embedded videos. Whichever is
    easiest :)*@

@{
    ViewBag.Title = "title";
}

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Reviewer</title>
</head>
<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters3.50.jpg);
        background-repeat: no-repeat;
        background-size: cover">

    Training Video
    <br>
    <asp:label runat="server">
        <iframe width="500" height="300" src="//www.youtube.com/embed/AnVv0RkiG4U" frameborder="0" allowfullscreen></iframe>
    </asp:label>
    <br><br>
    <div>

    </div>
</body>
</html>
