@model List<Proto.Areas.Reviewer.Models.PastReviewView>

@*This view should look similar to the view the second from the
bottom on the right. If tabs are too difficult (I'm not sure
how to do them) you can just make another larger list.*@

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
