@model Proto2.Areas.Student.Models.SubmissionView

@{
    ViewBag.Title = "title";
}


<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

</body>

<h2>@Model.StoryTitle</h2>
<h1>@Model.Description</h1>
<p>@Model.Story</p>
