@model List<Proto2.Areas.Teacher.Models.AssignmentAddInput>

@*This view should look like the bottom screen on the left
    for the reviewer mockups. Look at the Index view for
    teachers for an example*@

@{
    ViewBag.Title = "Assignments";
}


<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

    @if (!Model.Any())
    {
        <div class="jumbotron" style="opacity: .90">
            <h2>No Assignments Added</h2>
        </div>

    }
    @if (Model.Any())
    {
        <h2>@ViewBag.Title</h2>
        <div class="jumbotron" style="opacity: .90">
            <table class="table">
                <thead>
                    <tr>
                        <th>Assignment Name</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var a in Model)
                    {
                        <tr>
                            <td>@a.AssignmentName</td>
                            <td><p><button type="button" class="btn btn-sm btn-default" onclick="location.href='@Url.Action("AddAssignment", "TeacherHome", new {assignment = a })' ;return false; ">Assignment Details</button></p></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>


    }
</body>
