@using Proto2.Areas.SystemAdmin.Models
@model Proto2.Areas.Teacher.Models.AssignmentAddInput

@*This view should look like the bottom screen on the left
    for the reviewer mockups. Look at the Index view for
    teachers for an example*@

@{
    ViewBag.Title = "Assignments";
}


<body style="
        background-image: url(/Images/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

    @if (!Model.Assignments.Any())
    {
        <div class="jumbotron" style="opacity: .90">
            <h2>No Assignments Added</h2>
        </div>

    }
    @if (Model.Assignments.Any())
    {
        <h2>@ViewBag.Title</h2>
        <div class="jumbotron" style="opacity: .90">
            <table class="table">
                <thead>
                    <tr>
                        <th>Assignment Name</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var a in Model.Assignments)
                    {
                        <tr>
                            <td>@a.AssignmentName</td>
                            <td><p><button type="button" class="btn btn-sm btn-default" onclick="location.href='@Url.Action("ViewAddAssignmentDetailed", "TeacherHome", new {asgnid = a.Id, courseid = @Model.CourseId.ToString()})' ;return false; ">View Details to Add</button></p></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>


    }
</body>
