@model Proto2.Areas.Teacher.Models.AssignmentInputView
<!DOCTYPE html>

@{
    ViewBag.Title = "Brainstorm";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters3.50.jpg);
        background-repeat: no-repeat;
        background-size: cover">
    <center><h2>@Model.AssignmentName</h2></center>
    <p></p>
    <center><h3>@Model.Description</h3></center>
    <div class="pull-right">
        <button type="button" class="btn btn-success pull-right" onclick="location.href='@Url.Action("CurrentAssignment", "StudentHome", new { Id = Model.Id })';return false;">&nbsp;Return</button>&nbsp;&nbsp;
    </div>
    <div style="text-align:center">
        <br>
        <asp:label runat="server">
            <iframe width="900" height="625" src="http://mudcu.be/sketchpad/" frameborder="0"></iframe>
            <br>
        </asp:label>
    </div>
</body>
</html>
