@*This screen should maybe just welcome the Student or
    explain what a reviewer does*@

@{
    ViewBag.Title = "Student";
}


<h2>Welcome Student</h2>
<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters3.50.jpg);
        background-repeat: no-repeat;
        background-size: cover">
</body>
