@model Proto2.Areas.Student.Models.SubmitDetails
<!DOCTYPE html>
@{
    ViewBag.Title = "Submitted Assignment";
}

<html>
<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

    <div class="content-wrapper">
        <div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="jumbotron" style="opacity: .90; margin:auto">
                        <center><h2>@Model.AssignmentName</h2></center>
                        <p></p>
                        <h3>@Model.Description</h3>
                        <table class="table">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><p><button type="button" class="btn btn-primary btn-default" onclick="location.href='@Url.Action("StoryReview", "StudentHome", new {Id = Model.SubmissionId})' ;return false; ">Read Reviews</button></p></td>

                                </tr>
                            </tbody>
                        </table>
                        <div>
                                @Model.Story
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>