@model Proto2.Areas.Teacher.Models.AssignmentInputView
<!DOCTYPE html>

@{
    ViewBag.Title = "Strategy Videos";
    Layout = "~/Areas/Student/Views/Shared/_AssignmentLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters3.50.jpg);
        background-repeat: no-repeat;
        background-size: cover">
    <center><h2>@ViewBag.Title</h2></center>
    <div style="text-align:center">
        <br>
        <asp:label runat="server">
            <iframe width="500" height="300" src="http://www.youtube.com/embed/@Model.Link?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"></iframe>
            <br>
        </asp:label>
    </div>
</body>
</html>