@model Proto2.Areas.Student.Models.AssignmentsView
@{
    ViewBag.Title = "Assignments";
}

<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

</body>

<div class="content-wrapper">
        <div>
            <h2>Current Assignments</h2>
            <div class="row">
                <div class="col-xs-10">
                    <div class="jumbotron" style="opacity: .90; text-align:center; margin:auto">
                        <!--<h3>Current Assignments</h3>-->
                        <table class="table">
                            <thead>
                            </thead>
                            <tbody>
                                    @foreach(var a in Model.Current){
                                <tr>
                                    <td><p><a onclick="location.href='@Url.Action("Train", "StudentHome", new {Id = a.Id})' ;return false; ">@a.AssignmentName</a></p></td>
                                </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <p></p><p></p>
            <div class="content-wrapper">
                <h2>Submitted Assignments</h2>
            </div><div class="row">
                <div class="col-xs-10">
                    <div class="jumbotron" style="opacity: .90; text-align:center; margin:auto">
                        <!--<h3>Submitted Assignments</h3>-->
                        <table class="table">
                            <thead>
                            </thead>
                            <tbody>
                                    @foreach (var s in Model.Submitted) {
                                        <tr>
                                            <td><p><a onclick="location.href='@Url.Action("PastSubmission", "StudentHome", new {input = s})' ;return false; ">@s.AssignmentName</a></p></td>
                                        </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
