@{
    ViewBag.Title = "Index";
}

<h2>Student Home</h2><br>

Educational Video Regarding the Writing Assignment
<a href="https://www.youtube.com/watch?v=wygy721nzRc"><img src="http://encs.vancouver.wsu.edu/~k.gonzalez/thumbnail.png" alt="" /></a>

<br>
<textarea id="TextArea1" rows="2" cols="20" contextmenu=""></textarea><br>
<input id="Submit1" type="submit" value="submit" /><br>