@model List<Proto.Areas.SystemAdmin.Models.VideoView>

@{
    ViewBag.Title = "Teacher-Home";
}


<div class="content-wrapper">

    @if (!Model.Any())
    {
        <div class="jumbotron">
            <h2><strong>Please Add a Video</strong> </h2>
            <p>Reviewers will be able to view videos as training exerciese.</p>
            <p>
                <button type="button" class="btn btn-success" onclick=" location.href = '@Url.Action("AddVideo", "SystemAdminHome")' ;return false; "><i class=" glyphicon glyphicon-plus"></i>&nbsp;Add Video</button>
            </p>
        </div>

    }
    @if (Model.Any())
    {

        <div>
            <div class="pull-right">
                <button type="button" class="btn btn-success pull-right" onclick=" location.href = '@Url.Action("AddVideo", "SystemAdminHome")';return false;"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Video</button>
            </div>
            <h2>@ViewBag.Title</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Stories</th>
                        <th>Number of Reviews</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                        </tr>

                    }
                </tbody>
            </table>
        </div>


    }
</div>