
@*This view could just default to a student page
or possibly welcome the SysAdmin. You could also add
a model that holds a value for any new students, reviwers,
or teachers that need to be confirmed. You decide!*@

<h2>Index</h2>
