@model Proto.Areas.Student.Models.ReviewView

@*See the bottom left mockup in Students for how this should look*@

@{
    ViewBag.Title = "title";

}

<h2>Reviews</h2>
<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters3.50.jpg);
        background-repeat: no-repeat;
        background-size: cover"></body>
