@model Proto.Areas.Student.Models.StoryReviewView

@*See the bottom left/middle mockup for how this view should look*@

@{
    ViewBag.Title = "title";

}

<h2>Story Review</h2>
<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters3.50.jpg);
        background-repeat: no-repeat;
        background-size: cover"></body>
