@*This view could just default to a student page
    or possibly welcome the SysAdmin. You could also add
    a model that holds a value for any new students, reviwers,
    or teachers that need to be confirmed. You decide!*@

<body style="
        background-image: url(/Images/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">
</body>
<h2>Welcome to the System Administration Page</h2>
<p>
    This page gives access to admin capabilties such as:
    Removal of Students, Teachers, and Reviewers.
    Generation of Teacher Access codes.
    Revocation of access codes.
    @*Removal of individual reviews and stories as well as admin appointing in future versions.*@
</p>
