@*This view could just default to a student page
    or possibly welcome the SysAdmin. You could also add
    a model that holds a value for any new students, reviwers,
    or teachers that need to be confirmed. You decide!*@

<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">
</body>
<h2>Welcome to the System Administration Page</h2>