@model List<Proto2.Areas.Reviewer.Models.ReviewerModel>
@{
    ViewBag.Title = "Reviewers";
}

<body style="
        background-image: url(/Images/grey.jpg);
        background-repeat: no-repeat;
        background-size: cover">
</body>
<div class="content-wrapper">

    @if (!Model.Any())
    {
        <div class="jumbotron" style="opacity: .90">
            <h2>No Reviewers Currently Enrolled </h2>
        </div>

    }
    @if (Model.Any())
    {

        <div class="jumbotron" style="opacity: .90">
            <h2>@ViewBag.Title</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Reviews</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reviewer in Model)
                    {
                        <tr>
                            <td><strong>@reviewer.Name</strong></td>
                            <td><p><button type="button" class="btn btn-sm btn-default" onclick="location.href='@Url.Action("ViewReviewsByReviewers", "SystemAdminHome", new{id = reviewer.Id} )' ;return false; ">Reviews</button></p></td>
                            <td><a style="color:red">Delete</a></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>


    }
</div>
