@model List<WriteItUp2.Areas.SystemAdmin.Models.StoryReviewsView>

@*See the bottom left/middle mockup for how this view should look*@

@{
    ViewBag.Title = "Scores out of 7";

}

<body style="
        background-image: url(/Images/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

    @if (!Model.Any())
    {
        <div class="jumbotron">
            <h2>No Reviews</h2>
        </div>

    }
    @if (Model.Any())
    {
        <h2>@ViewBag.Title</h2><br>
        <div class="content-wrapper">
            <div class="jumbotron" style="opacity: .90">
                @foreach (var student in Model)
                {

                    <text><b>Plot:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;@student.ScorePlot</text><br><br>
                    <text><b>Character:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@student.ScoreCharacter</text><br><br>
                    <text><b>Setting:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@student.ScoreSetting</text><br><br>
                    <text><b>Comments:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@student.Comments</text><br><br>

                }
            </div>
        </div>
    }

</body>