@model WriteItUp2.Areas.Teacher.Models.ReviewerViewList

@*This view should look like the bottom screen on the left
    for the reviewer mockups. Look at the Index view for
    teachers for an example*@

@{
    ViewBag.Title = "Reviewers";
}


<body style="
                                      background-image: url(/Images/letters2.50.JPG);
                                      background-repeat: no-repeat;
                                      background-size: cover">

    @if (!Model.ReviewerList.Any())
    {
        <div class="jumbotron" style="opacity: .90">
            <h2>No Reviewers enrolled</h2>
        </div>

    }
    @if (Model.ReviewerList.Any())
    {
        <h2>@ViewBag.Title</h2>
        <div class="jumbotron" style="opacity: .90">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model.ReviewerList)
                    {
                        <tr>
                            <td>@s.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    }
</body>

